@font-face {
  font-family: "adobe-clean";
  src: url("./fonts/AdobeClean-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: adobe-clean, Ubuntu, sans-serif;
}

#root {
  min-height: 100vh;
}
.App {
  display: flex;
}
#app-wrapper>div {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
}
