@font-face {
  font-family: "adobe-clean";
  src: url("./fonts/AdobeClean-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: adobe-clean, Ubuntu, sans-serif;
}

#root {
  height: 100%;
}
.App {
  display: flex;
}
